.topMostLayerColor {
  background-color: #303136;
}

.middleLayerColor {
  background-color: #212225;
}

.backLayerColor {
  background-color: #131316;
}

.overviewRight {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  gap: 1rem;
  order: 1;
}

.profileOverviewLeftOuter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.overviewLeft {
  width: 100%;
  min-height: 50px;
  padding: 1.25rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  order: 2;
}

.overviewLeftTeamProfile {
  width: 100%;
  min-height: 50px;
  padding: 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.innerOverviewLeft {
  width: 100%;
  min-height: 50px;
  padding: 1.25rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  order: 2;
}

.sectionHr {
  height: 1px;
  border: none;
  background-color: rgba(204, 204, 204, 0.3);
}

.sectionHeader {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.focusGameDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.innerFocusGameContainer {
  margin-top: 0.9rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.focusGameImageContainer {
  width: 50px;
  height: 50px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.focusGameImageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.focusGameTitle {
  font-family: "ClashGrotesk-Regular", sans-serif;
  font-size: 0.95rem;
}

.focusGameDescription {
  font-family: "ClashGrotesk-Regular", sans-serif;
  font-size: 0.85rem;
  color: #B2B3BD;
}

.interestsListContainer,
.gamingAccountsListContainer,
.socialLinksListContainer {
  display: flex;
  width: 100%;
  min-height: 20px;
  font-size: 0.8rem;
}

.interestsListContainer {
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: flex-start;
  margin-top: 1rem;
}

.socialLinksListContainer {
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 0.9rem;
  column-gap: 0.25rem;
}

.gamingAccountsListContainer {
  flex-direction: column;
  gap: 1.25rem;
}

.interest {
  padding: 8px 12px;
  border-radius: 25px;
}

.noGamingAccountsListContainer,
.noInterestsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.85em;
}

.emptyParagraphContent {
  text-align: center;
  color: #B2B3BD;
}

.addInterestsBTN,
.waitlistBTN,
.seeMoreAccountsBTN,
.showMoreBTN {
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-weight: 500;
  transition: all ease-in-out 0.5s;
  border: 1px solid #28292D;
}

.waitlistBTN,
.seeMoreAccountsBTN,
.showMoreBTN {
  padding: 8px 12px;
  border-radius: 25px;
}

.addInterestsBTN {
  padding: 6px;
  font-size: 0.85rem;
  border-radius: 0.25rem;
  margin-bottom: 1.125rem;
}

.seeMoreAccountsBTN {
  float: right;
  margin-top: 0.5rem;
}

.addInterestsBTN:hover,
.waitlistBTN:hover,
.seeMoreAccountsBTN:hover,
.showMoreBTN:hover {
  border: 1px solid var(--primary-bg);
}

.gamingAccount {
  display: flex;
  align-items: center;
  min-height: 10px;
  gap: 0.8rem;
  justify-content: space-between;
}

.gamingAccountIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 6px;
  cursor: pointer;
}

.gameLogoAndName {
  display: flex;
  gap: 0.75rem;
}

.gameLogo {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.gameLogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.gameName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.2rem;
}

.socialLink {
  padding: 8px 0;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border: 1px solid #28292D;
  transition: all ease-in-out 0.6s;
  width: 135px;
  flex-grow: 1;
}

.socialLink:hover {
  border: 1px solid var(--primary-bg);
}

.socialIcon {
  font-size: 0.95rem;
}

.sectionContainer {
  min-height: 50px;
}

.gameOrAchievementContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  row-gap: 1.25rem;
  column-gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.gameOrAchievementCard {
  width: 95px;
  min-height: 125px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.gameOrAchievementImageContainer {
  min-width: 95px;
  min-height: 115px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: space-between;
}

.gameOrAchievementImage {
  width: 100%;
  height: 115px;
  object-fit: cover;
  border-radius: 10px;
}

.gameOrAchievementName {
  font-size: 0.75rem;
  text-align: center;
  padding: 0 5px;
}

.tournamentEventsContainer {
  min-height: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  position: relative;
}

.showingNumber {
  font-size: 0.85rem;
}

.tournamentsEventsFilterSearchContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tournamentsEventsFilterContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tournamentsEventsFilterContainer p {
  font-size: 1rem;
  font-family: "ClashGrotesk-ExtraLight", sans-serif;
}

.filterContainer {
  position: relative;
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  padding: 0.4rem 1.5rem;
}

.searchContainer {
  position: relative;
  width: 100%;
  min-height: 50px;
}

.searchBar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  transition: all ease-in-out 0.5s;
  background-color: #303136;
  border: 1px solid #303136;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.searchBar:focus-within {
  border: 1px solid var(--primary-bg);
  width: 95%;
}

.searchBar:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.searchIcon {
  font-size: 1rem;
  color: #888;
  margin-right: 0.2rem;
  margin-left: 0;
}

.searchInput {
  border: none;
  outline: none;
  transition: width 0.5s ease-in-out, border 0.5s ease-in-out;
  margin-right: 5px;
  margin-left: 2.5px;
  background-color: transparent;
  font-size: 0.85rem;
  width: 100%;
}

.searchInput::placeholder {
  font-family: "ClashGrotesk-Extralight", sans-serif;
  color: white;
  font-size: 0.85rem;
}

.tournamentsEventsTable {
  min-height: 40px;
  width: 100%;
  overflow-x: auto;
}

.instructionText {
  font-size: 0.8rem;
}

.profileH4HeaderEmptyContent,
.profileH4Header {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "ClashGrotesk-Light", sans-serif;
}

.profileH4HeaderEmptyContent {
  font-size: 0.9rem;
}

.profileH4Icons {
  font-size: 0.9rem;
}

.profileH4IconsEmptyContent {
  font-size: 0.75rem;
}

.profileH5Header {
  font-size: 0.8rem;
  font-weight: var(--fw-bold);
  color: #B2B3BD;
}

.profileDetailValue {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
}

.statsContainer {
  padding: 1.25rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.statsDetailsContainer {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  row-gap: 1.25rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.statsDetails {
  padding: 0.8rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 135px;
  flex-grow: 1;
}

.rankingViewTable {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statsDetailValue {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
}

.achievementsContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  gap: 1.5rem;
  position: relative;
}
.notAvailableOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 24px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  pointer-events: none; 
}

.blurredContainer {
  filter: blur(5px);
}

.membersHeader,
.achievementsHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewBTN,
.manageBTN,
.addGameAccountBTN,
.seeMoreBTN {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.4rem;
}

.viewBTN,
.manageBTN {
  font-size: 0.9rem;
  color: #B2B3BD;
  transition: all ease-in-out 0.5s;
}

.viewBTN:hover,
.manageBTN:hover {
  color: #FFF;
}

.rightOrLeftArrowIcon {
  font-size: 0.8rem;
}

.achievementImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 125px;
  padding: 0 0.75rem;
}

.achievementImage {
  width: 100%;
  height: 80px;
  object-fit: contain;
  border-radius: 10px;
}

.achievementCard {
  gap: 0.5rem;
}

.walletPenaltyContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.walletContainer,
.penaltyContainer {
  min-width: 200px;
  min-height: 50px;
  border-radius: 10px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
}

.coinNumber,
.penaltyPointNumber {
  display: flex;
  gap: 0.4rem;
}

.infoIconSpan {
  display: flex;
}

.infoIcon {
  font-size: 0.9rem;
  cursor: pointer;
}

.coinNumberSpan,
.penaltyPointNumberSpan {
  font-size: 1.5rem;
}

.coinSpan,
.flagSpan {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

.coinIcon {
  border-radius: 50%;
  background-color: #F7931A;
}

.errorContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #17181A;
  color: #FFF;
  font-size: 0.85rem;
  padding: 1.25rem;
}

.blinkingDots {
  display: inline-block;
}

.blinkingDots::after {
  content: "";
  animation: blink 2.5s infinite;
}

@keyframes blink {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
.memberCard {
  width: 95px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  gap: 0.4rem;
  padding-bottom: 0.6rem;
  padding-top: 0.5rem;
}

.membersContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  row-gap: 1rem;
  column-gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.memberName {
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
}

.memberImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  min-height: 70px;
  width: 70px;
}

.memberImageContainer img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.loginBTN {
  border-radius: 5px;
  width: 80px;
  background-color: var(--v-ent-red);
}

@media only screen and (min-width: 550px) {
  .tournamentsEventsFilterSearchContainer {
    width: 100%;
    flex-direction: row;
  }
  .tournamentsEventsFilterContainer {
    width: calc(100% - 250px);
  }
  .searchBar {
    width: 70%;
  }
  .searchBar:focus-within {
    width: 95%;
  }
  .searchContainer {
    width: 250px;
    min-height: 30px;
  }
  .errorContainer {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 650px) {
  .tournamentsEventsFilterContainer {
    width: calc(100% - 300px);
  }
  .searchContainer {
    width: 300px;
  }
  .errorContainer {
    padding: 1.125rem;
  }
}
@media only screen and (min-width: 768px) {
  .overviewRight {
    order: 2;
    width: 55%;
  }
  .overviewLeft {
    width: 45%;
    order: 1;
  }
  .gameOrAchievementImage {
    width: 100%;
    height: 130px;
  }
  .achievementsContainer {
    padding: 1.5rem;
  }
  .errorContainer {
    font-size: 1.25rem;
    padding: 1.25rem;
  }
  .loginBTN {
    font-size: 1rem;
    min-width: 90px;
    width: 90px;
    max-width: 90px;
  }
}
@media only screen and (min-width: 1024px) {
  .overviewLeft {
    width: 45%;
  }
  .socialLinksListContainer {
    justify-content: space-between;
  }
  .errorContainer {
    font-size: 1.5rem;
    padding: 1.5rem;
  }
}
@media only screen and (min-width: 1100px) {
  .overviewRight {
    width: 100%;
  }
  .overviewLeft {
    width: 360px;
    min-width: 360px;
    max-width: 360px;
  }
  .walletContainer,
  .penaltyContainer {
    width: calc(50% - 1rem);
    flex-grow: 0;
  }
}