.pageContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #17181A;
  overflow-x: hidden;
}

.mainContainer {
  width: 100%;
}

.draftsContainer {
  width: 100%;
  margin-top: 30px;
}

.draftList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-top: 60px;
}

.draftsCard {
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background: #f9f9f9;
}
