.landingHeroContainer {
    width: 100%;
    background-image: radial-gradient(circle, rgba(255, 0, 0, 0.5) 0%, #000000 50%, #000000 75%, #000000 100%);
    background-position: left center;
    background-size: 130%;
    position: relative;
    min-height: calc(100vh + 100px);
    max-height: calc(100vh + 200px);
}

.landingHeroContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.innerLandingHeroContainer {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.headerContainer {
    height: 100px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}


.headerLogoContainer {
    display: flex;
    justify-content: center;
    width: auto;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: flex-start;
}

.headerLogoContainer h1 {
    font-family: 'Inter', sans-serif;
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
    color: var(--v-ent-red);
}

.logoLink {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.25rem;
}

.innerLogoContainer {
    height: 25px;
}

.vEntLogo {
    height: 25px;
    width: 24px;
    object-fit: contain;
}

.waitlistBTN:nth-child(2) {
    border-radius: 5px;
    width: 120px;
}

.loginBTN {
    border-radius: 5px;
    width: 80px;
    background-color: var(--v-ent-red);
}

.headerJoinTournamentsBTNContainer button:first-of-type {
    border-radius: 50px;
}

.heroContent {
    height: calc(100% - 100px);
    height: auto;
    // border: 2px solid seagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.heroContentBottom,
.heroContentTop {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    // border: 2px solid green;
}

.gamingAnimeTribeContainer {
    // border: 1px solid red;
    width: 90%;
    line-height: 1.25;
}

.gamingAnimeTribeContainer h1 {
    font-size: 3rem;
    font-family: 'Fraunces', sans-serif;
}

.h1Anime {
    margin-left: 2.5rem;
}

.h1Tribe {
    margin-left: 5.5rem;
}

.formContainer {
    // border: 2px solid orange;
    display: flex;
    width: 100%;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
    justify-content: center;
    // border: 1px solid white;
}


.heroWelcomeTextContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // border: 1px solid green;
}

.heroWelcomeTextContainer p {
    text-align: center;
    font-size: 0.9rem;
}

.inputText {
    border: none;
    outline: none;
    padding: 10px 0;
    padding-left: 0.8rem;
    background-color: #303136;
    border: 1px solid #303136;
    font-size: 1rem;
    width: 100%;
    max-width: 500px;
    transition: border ease-in-out 0.5s;
}

.inputText:focus,
.inputText:active {
    border: 1px solid #FFF;
}

.inputText::placeholder {
    font-family: 'Inter', sans-serif;
    color: #CCC;
    font-size: 0.85rem;
}

.heroContentBottom {
    width: 100%;
    // border: 2px solid pink;
}

.bottomImageContainer,
.topImageContainer {
    // border: 1px solid blue;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-start;
    gap: 1.25rem;
    width: 90%;
}

.bottomRightImageContainer,
.topLeftImageContainer {
    width: 40%;
}

.bottomLeftImageContainer,
.topRightImageContainer {
    width: 60%;
}

.bottomLeftImageContainer,
.bottomRightImageContainer,
.topRightImageContainer,
.topLeftImageContainer {
    height: 120px;
    border-radius: 20px;
    transition: all ease-in-out 0.5s;
}

.bottomLeftImageContainer img,
.bottomRightImageContainer img,
.topRightImageContainer img,
.topLeftImageContainer img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

@media only screen and (min-width: 450px) {
    .landingHeroContainer {
        min-height: 900px;
        max-height: 1000px;
        // border: 10px solid orange;
    }

    .bottomLeftImageContainer,
    .bottomRightImageContainer,
    .topRightImageContainer,
    .topLeftImageContainer {
        height: 160px;
    }
}

@media only screen and (min-width: 550px) {
    .headerContainer {
        padding: 1rem 1.5rem;
    }
}

@media only screen and (min-width: 650px) {
    .landingHeroContainer {
        // border: 10px solid pink;
        min-height: 1000px;
        max-height: 1000px;
    }

    .gamingAnimeTribeContainer h1 {
        font-size: 4rem;
    }
    
    .h1Anime {
        margin-left: 3rem;
    }
    
    .h1Tribe {
        margin-left: 6.5rem;
    }

    .bottomLeftImageContainer,
    .bottomRightImageContainer,
    .topRightImageContainer,
    .topLeftImageContainer {
        height: 190px;
    }

}

@media only screen and (min-width: 768px) {
    .landingHeroContainer {
        // border: 10px solid purple;
        min-height: 1130px;
        max-height: 1200px;
    }

    .headerContainer {
        min-height: 60px;
    }
    
    .innerLogoContainer {
        height: 35px;
    }

    .vEntLogo {
        height: 35px;
        width: 34px;
    }    

    .headerLogoContainer h1 {
        font-size: 2.5rem;
    }    
    
    .waitlistBTN {
        font-size: 1rem;
        min-width: 140px;
        width: 140px;
        max-width: 140px;
    }

    .loginBTN {
        font-size: 1rem;
        min-width: 90px;
        width: 90px;
        max-width: 90px;
    }

    .gamingAnimeTribeContainer h1 {
        font-size: 4.5rem;
    }

    .h1Anime {
        margin-left: 4.5rem;
    }
    
    .h1Tribe {
        margin-left: 9rem;
    }
    
    .bottomLeftImageContainer,
    .bottomRightImageContainer,
    .topRightImageContainer,
    .topLeftImageContainer {
        height: 240px;
        // border: 2px solid blue;
    }

    .heroWelcomeTextContainer p {
        text-align: left;
    }

    .heroWelcomeTextContainer p {
        font-size: 1rem;
    }  
}

@media only screen and (min-width: 850px) {
    .landingHeroContainer {
        // border: 10px solid red;
        min-height: 950px;
        max-height: 950px;
    }

    .heroContentTop {
        // border: 5px solid white;
        flex-direction: row;
        width: 90%;
    }

    .gamingAnimeTribeContainer h1 {
        font-size: 4rem;
    }
}

@media only screen and (min-width: 1150px) {
    .landingHeroContainer {
        min-height: 100vh;
        max-height: 100vh;
    }

    .headerContainer {
        height: 100px;
    }

    .innerLogoContainer {
        height: 45px;
    }

    .vEntLogo {
        height: 45px;
        width: 43px;
    }    

    .heroContent {
        flex-direction: row;
        width: 95%;
        margin: 0 auto;
        height: 80%;
    }

    .heroContentTop {
        flex-direction: column;
        width: 45%;
    }

    .heroContentBottom {
        width: 55%;
        // border: 2px solid yellow;
        align-items: flex-end;
    }

    .bottomLeftImageContainer,
    .bottomRightImageContainer,
    .topRightImageContainer,
    .topLeftImageContainer {
        height: 210px;
    }

    .gamingAnimeTribeContainer h1 {
        font-size: 5rem;
        line-height: 1.125;
    }
}

@media only screen and (min-width: 1220px) {
    // .landingHeroContainer {
    //     border: 10px solid brown;
    // }

    .heroContent {
        width: 90%;
    }

    .bottomLeftImageContainer,
    .bottomRightImageContainer,
    .topRightImageContainer,
    .topLeftImageContainer {
        height: 230px;
    }
}

@media only screen and (min-width: 1400px) {
    .gamingAnimeTribeContainer h1 {
        font-size: 7rem;
        line-height: 1;
    }

    .bottomLeftImageContainer,
    .bottomRightImageContainer,
    .topRightImageContainer,
    .topLeftImageContainer {
        height: 250px;
    }

    .heroWelcomeTextContainer p {
        font-size: 1.125rem;
    }
}


@media only screen and (min-width: 1550px) {
    // .landingHeroContainer {
    //     border: 10px solid pink;
    // }

    .bottomLeftImageContainer,
    .bottomRightImageContainer,
    .topRightImageContainer,
    .topLeftImageContainer {
        height: 270px;
    }
}
