.leftHeroContainer {
  border: 5px solid white;
  width: 50%;
  width: 100%;
  min-height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.leftHeroInnerContainer {
  border: 2px solid green;
  width: 85%;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.h1Container {
  border: 2px solid pink;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}

.h1Container h1 {
  font-size: 3rem;
  font-family: "ClashGrotesk-Bold", sans-serif;
  line-height: 0.85;
}

.anime {
  margin-left: 0rem;
}

.tribe {
  margin-left: 0rem;
}

.belowH1Container {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.landingPageParagraph {
  padding-right: 0.4rem;
  line-height: 1.5;
  text-align: center;
  font-size: 0.85rem;
}

.joinWaitListContainer {
  border: 2px solid pink;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

.enterEmailInput {
  border: none;
  outline: none;
  padding: 0px 1rem;
  padding-left: 0.8rem;
  background-color: #303136;
  font-size: 1rem;
  width: 100%;
  max-width: 500px;
}

.enterEmailInput::placeholder {
  font-family: "ClashGrotesk-Light", sans-serif;
  color: #CCC;
  font-size: 0.85rem;
}

.waitlistBTN {
  background-color: var(--v-ent-red);
  border-radius: 5px;
  max-width: 120px;
  min-width: 120px;
}

@media only screen and (min-width: 768px) {
  .leftHeroContainer {
    border: 2px solid yellow;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  .leftHeroInnerContainer {
    border: 2px solid green;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  .h1Container {
    border: 2px solid pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .belowH1Container {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .anime {
    margin-left: 3.5rem;
  }
  .tribe {
    margin-left: 7rem;
  }
  .h1Container h1 {
    font-size: 4rem;
    font-family: "ClashGrotesk-Bold", sans-serif;
    line-height: 0.85;
  }
  .anime {
    margin-left: 4.5rem;
  }
  .tribe {
    margin-left: 9rem;
  }
  .belowH1Container {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
    width: 100%;
  }
  .landingPageParagraph {
    text-align: left;
    font-size: 1rem;
  }
  .enterEmailInput {
    width: calc(100% - 120px);
    border: 2px solid blue;
    font-size: 0.85rem;
  }
  .joinWaitListContainer {
    gap: 0.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .leftHeroContainer {
    border: 2px solid pink;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  .leftHeroInnerContainer {
    width: 75%;
  }
  .h1Container h1 {
    font-size: 5rem;
    font-family: "ClashGrotesk-Bold", sans-serif;
    line-height: 0.85;
  }
  .anime {
    margin-left: 4.5rem;
  }
  .tribe {
    margin-left: 9rem;
  }
}