.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: space-around;
}

.imageContainer {
  width: 180px;
  height: 140px;
  border-radius: 0.75rem;
}

.imageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
}

.addImage {
  border: 1px dashed var(--primary-bg);
  min-height: 140px;
  border-radius: 7.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addImageBTN {
  cursor: pointer;
}

.uploadImageText {
  font-size: 1rem;
}

.plusIcon {
  font-size: 1.75rem;
}

@media only screen and (min-width: 768px) {
  .galleryContainer {
    gap: 1.25rem;
  }
  .imageContainer {
    width: 220px;
    height: 160px;
    border-radius: 0.75rem;
  }
  .imageContainer img {
    border-radius: 0.75rem;
  }
  .addImage {
    min-height: 160px;
  }
}