.distributedContainer {
  display: flex;
  flex-direction: column;
  gap: 0.95rem;
}

.tournamentTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.winnerTakesAllContainer {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.infoSpan {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputGroup {
  width: 100%;
}

.inputText {
  padding-right: 2.5rem;
}

.noPrizeContainer {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.noPrizeContainer p {
  color: #B2B3BD;
}

.plusIcon,
.deleteIcon {
  font-size: 0.9rem;
  fill: var(--v-ent-red);
  color: var(--v-ent-red);
  cursor: pointer;
  transition: fill ease-in-out 0.5s;
}

.deleteBTN {
  padding: 0;
  height: 0;
  width: 0;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
}

.addAnotherBTN {
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  font-weight: 600;
  color: var(--v-ent-red);
  border: none;
  font-size: 0.95rem;
  cursor: pointer;
  transition: color ease-in-out 0.5s;
}

.addAnotherBTN:hover {
  color: #B2B3BD;
}

.addAnotherBTN:hover .plusIcon {
  fill: #B2B3BD;
}

.twoInputContainer {
  align-items: center;
  position: relative;
}

.totalPrizeContainer {
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;

  background-color: #28292D;
  padding: 0.8rem;
}

.totalPrizeText {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: #B2B3BD;
}

.totalPrizeAmount {
  color: #FFF;
  font-weight: 500;
}

@media only screen and (min-width: 600px) {
  .inputGroup {
    width: 100%;
  }
  .deleteBTN {
    top: 2.35rem;
  }
}