
.toolTip {
    font-size: 0.75rem;
    font-weight: 200;
}

  
  /* Password Validation Styling */
  .icon {

    transition: color 0.3s ease;
} 
.criteriaContainer {
    margin-top: 2px;
}
  
.criterion {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    font-size: 0.9rem; 
}
  
.valid {
    color: var(--green);
    margin-right: 5px;
    font-size: 1rem; 
}
  
.invalid {
    color: var(--primary-bg);
    margin-right: 5px;
    font-size: 1rem;
}

.errorMessage {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}  
  
.animate {
    animation: bounce 0.5s ease;
}
  
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
}

.termsAndPrivacy {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    flex-wrap: wrap;
    color: var(--primary-bg);
    font-weight: 200;
    line-height: 1.5;
    justify-content: center;
    width: 100%;
}

.termsAndPrivacy a {
    font-size: 0.8rem;
    color: var(--primary-bg);
    display: inline-flex;
    align-items: center;
    font-weight: var(--fw-bold);
}