.belowHeroContainer {
    background-color: #131316;
    min-height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    // margin-top: 2rem;
    margin-top: 50px;
    position: relative;

}

.curveVectorContainer {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    position: relative;
}

.curveVectorContainer img {
    height: 100%;
    width: 100%;
}

.curveVector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.curveVectorText {
    position: absolute;
    width: 90%;
    max-width: 500px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.curveVectorText p {
    line-height: 1.5;
    text-align: center;
    color: #FFF;
    font-size: 1rem;
}

@media only screen and (min-width: 450px) {
    .curveVectorText p {
        font-size: 1.18rem;
    }
}

@media only screen and (min-width: 600px) {
    .belowHeroContainer {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .curveVector {
        object-fit: contain;
    }

    .curveVectorText {
        width: 450px;
        max-width: 100%;
    }

}

@media only screen and (min-width: 800px) {
    .curveVectorText {
      width: 470px;
    }

    .curveVectorText p {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 1024px) {
    .curveVectorText p {
        font-size: 1.25rem;
    }

}

@media only screen and (min-width: 1224px) {
    .curveVectorContainer {
        min-height: 250px;
        max-width: 700px;
    }

    .curveVectorText {
      width: 570px;
      max-width: 100%;
    }

    .curveVectorText p {
        font-size: 1.5rem;
    }
}