.innerOtherFeaturesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.headingTextContainer {
  min-height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.headingTextContainer h1 {
  font-size: 2rem;
  font-size: 1.75rem;
}

.cardsContainer {
  width: 100%;
  min-height: 70px;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.cardContainer {
  min-height: 50px;
  border-radius: 10px;
  background-color: #28292D;
  border-left: 1px solid #ED1C24;
  padding: 0.85rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
}

.cardContainer h2 {
  font-size: 1.125rem;
}

.iconContainer {
  height: 27px;
  width: 27px;
  background-color: #46484F;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraphContainer p {
  font-size: 0.95rem;
}

.analyticIcon,
.communityIcon,
.walletIcon {
  display: flex;
  font-size: 1.25rem;
}

@media only screen and (min-width: 550px) {
  .cardContainer {
    min-width: 220px;
    width: 80%;
    max-width: 450px;
  }
}
@media only screen and (min-width: 768px) {
  .cardContainer {
    width: 48%;
  }
}
@media only screen and (min-width: 850px) {
  .cardsContainer {
    flex-wrap: nowrap;
  }
  .cardContainer {
    min-width: 220px;
    width: 350px;
  }
}