.tournamentsComponentContainer {
    width: 100%;
    min-height: 30vh;
    margin-top: 60px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding-bottom: 2rem;
}

.searchContainer {
    display: flex;
}

.createTournamentBTN {
    padding: 0.3rem 0.55rem;
    font-size: 0.9rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    height: 28px;
}

.plusIcon {
    display: flex;
    height: 100%;
    font-size: 0.9rem;
}

.filterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
    background-color: #303136;
}

.inputWithDropdown {
    padding-right: 1rem;
    background-size: 0.4rem;
    height: 30px !important;
    cursor: pointer;
    outline: none !important;
    border: 1px solid #303136 !important;
    transition: all 0.5s ease-in-out; 
}

.inputWithDropdown:hover,
.inputWithDropdown:focus,
.inputWithDropdown:focus-within,
.inputWithDropdown:active {
    outline: none !important;
    border-bottom: 1px solid #FFF !important;
}

.filterIcon {
    font-size: 1rem;
    cursor: pointer;
    height: 28px;
    width: 100%;
    padding: 6px;
}

.searchFilterCreateTournamentContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 0.75rem;
    flex-wrap: wrap;
}

.searchIconTrigger {
    font-size: 1.25rem;
    cursor: pointer;
    color: #000;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #303136;
    padding: 0.25rem 0.6rem;
    border-radius: 5px;
    position: relative;
    transition: all 0.5s ease-in-out;
    border: 0.5px solid #303136;
    gap: 0;
    width: 100%;
    flex-grow: 1;
}

.searchInput {
    border: none;
    outline: none;
    background-color: transparent;
    color: #FFF;
    padding: 0 0.5rem;
    flex-grow: 1;
    font-size: 0.9rem;
    transition: all ease-in-out 0.5s;
}

.searchBar:focus-within {
    border: 0.5px solid #FFF;
}

.closeIcon {
    font-size: 1.25rem;
    cursor: pointer;
}

.searchIconInside {
    font-size: 1.25rem;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .tournamentsComponentContainer {
        margin-left: 180px;
        width: calc(100% - 180px);
    }

    .searchBar {
        min-width: 400px;
        padding: 0.35rem 0.75rem;
    }

    .searchInput {
        padding: 0.0625rem 0.5rem;
    }
    
    .createTournamentBTN {
        height: 32px !important;
    }
    
    .plusIcon {
        display: flex;
        height: 100%;
    }
    
    .inputWithDropdown {
        height: 32px !important;
    }
    
    .filterIcon {
        font-size: 1.2rem;
        height: 32px;
        padding: 6px;
    }
}

@media only screen and (min-width: 1024px) {
    .tournamentsComponentContainer {
        margin-left: 250px;
        width: calc(100% - 250px);
    }

    .searchBar {
        padding: 0.35rem 0.75rem;
    }

    .searchInput {
        padding: 0.185rem 0.5rem;
    }

    .createTournamentBTN {
        height: 35px !important;
        font-size: 1rem;
    }
        
    .inputWithDropdown {
        height: 35px !important;
    }
    
    .filterIcon {
        height: 35px;
        padding: 5px;
    }
}