.descriptionContainer {
  min-height: 100px;
  width: 100%;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.descriptionName {
  font-size: 0.95rem;
  font-family: "ClashGrotesk-Medium", sans-serif;
}

.descriptionName p,
.descriptionLocation {
  font-size: 0.8rem;
  font-family: "ClashGrotesk-Medium", sans-serif;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.eventTypeAndLocationContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.feeParagraph,
.eventTypeParagraph,
.dateParagraph {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.3rem;
}