.pageContainer {
    width: 100%;
    min-height: 100vh;
    background-color: #17181A;
    overflow-x: hidden;
    padding-bottom: 3rem;
}

.mainContainer {
    width: 100%;
    // border: 1px solid purple;
}

.rightPaneEditProfileContainer {
    width: 100%;
    margin-top: 60px;
    border: 1px solid purple;
    display: flex;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid green;
}

.menuPanel {
    border: 2px solid red;
}

.nameMenu {
    padding: 1rem;
}

.buttonContainer {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid white;
    gap: 0.75rem;
    padding: 0.75rem;
    min-height: 100px;
}

.tabBTN {
    background-color: transparent;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
    position: relative;
    outline: none;
    border: none;
    text-align: left;
    width: 100%;
    font-family: 'ClashGrotesk-Regular', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activeTab {
    background-color: #46484F;
    border-radius: 5px;
}

.profileEditDashboard {
    min-height: 200px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}



@media only screen and (min-width: 768px) {
    .rightPaneEditProfileContainer {
        width: calc(100% - 180px);
        margin-left: 180px;
    }

    .overviewContainer {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1024px) {
    .rightPaneEditProfileContainer {
        width: calc(100% - 250px);
        margin-left: 250px;
    }

    .profileEditDashboard {
        padding: 1.5rem;
    }
}
