.tournamentDetailsParticipantsContainer {
  min-height: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  position: relative;
}

.informationArea {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}

.informationArea p {
  font-family: "ClashGrotesk-Light", sans-serif;
  font-size: 0.9rem;
}

.informationArea p:first-of-type {
  display: flex;
}

.tournamentsEventsFilterSearchContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.tournamentsEventsFilterContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.tournamentsEventsFilterContainer p {
  font-size: 1rem;
  font-family: "ClashGrotesk-ExtraLight", sans-serif;
}

.searchContainer {
  position: relative;
  width: 100%;
  min-height: 50px;
}

.searchBar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  transition: all ease-in-out 0.5s;
  background-color: #303136;
  border: 1px solid #303136;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.searchBar:focus-within {
  border: 1px solid var(--primary-bg);
  width: 100%;
}

.searchBar:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.searchIcon {
  font-size: 1rem;
  color: #888;
  margin-right: 0.2rem;
  margin-left: 0.15rem;
  cursor: pointer;
}

.searchInput {
  border: none;
  outline: none;
  transition: width 0.5s ease-in-out, border 0.5s ease-in-out;
  margin-right: 5px;
  margin-left: 2.5px;
  background-color: transparent;
  font-size: 0.85rem;
  width: 100%;
}

.searchInput::placeholder {
  font-family: "ClashGrotesk-Extralight", sans-serif;
  color: #FFF;
  font-size: 0.85rem;
}

.participantsTable {
  min-height: 40px;
  width: 100%;
  overflow-x: auto;
  max-width: 1200px;
}

.participantsTableExpandedContainer {
  overflow-x: auto;
  width: 100%;
  max-width: 1200px;
}

.participantsTableExpanded {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.viewProfileBTNContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-end;
}

.threeDotsBTN,
.viewProfileBTN {
  padding: 5px 7px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  border: 1px solid #303136;
  min-width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.threeDotsBTN {
  padding: 6.2px 10px;
  min-width: auto;
}

.threeDotsBTN:hover,
.viewProfileBTN:hover {
  background-color: #212225;
  border: 1px solid #FFFFFF;
}

.gridHeader,
.gridRow {
  display: grid;
  grid-template-columns: minmax(150px, 1.1fr) minmax(100px, 1fr);
  border-bottom: 1px solid rgba(204, 204, 204, 0.3);
}

.gridHeader {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.gridRow:last-child {
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.gridItem {
  font-family: "ClashGrotesk-Light", sans-serif;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  padding: 10px;
}

.gridItemHeaderExpanded,
.gridItemHeader {
  font-family: "ClashGrotesk-Regular", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #797B86;
  font-weight: 600;
}

.gridItemHeaderExpanded:last-child,
.gridItemHeader:last-child {
  display: flex;
  justify-content: flex-end;
}

.nameColumn {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.gameImageContainer {
  min-width: 40px;
  width: 40px;
  max-width: 40px;
  min-height: 40px;
  height: 40px;
  max-height: 40px;
  border-radius: 50%;
}

.gameImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.gridRowExpanded:last-child {
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.gridItemExpanded {
  font-family: "ClashGrotesk-Light", sans-serif;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  padding: 10px;
}

.gridHeaderExpanded {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.galleryViewBTN {
  cursor: pointer;
  border: 1px solid rgba(204, 204, 204, 0.5);
  background-color: #303136;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.35rem;
  padding: 4px 4px;
  width: 95px;
  border-radius: 4px;
  transition: all ease-in-out 0.5s;
}

.galleryViewBTN:hover {
  border: 1px solid #FFF;
}

.toggleTableView {
  display: flex;
  align-items: center;
  justify-content: center;
}

.galleryViewIcon {
  cursor: pointer;
  font-size: 1rem;
}

.paginationContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.55rem;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navIconBTN,
.pageBTN {
  background-color: #131316;
  outline: none;
  border: 1px solid #131316;
  width: 28px;
  height: 30px;
  padding: 5px 9px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 6px;
  transition: all ease-in-out 0.5s;
  font-family: "ClashGrotesk-Medium", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navIconBTN {
  background-color: #303136;
  border: 1px solid #303136;
  width: 30px;
  padding: 0;
  font-size: 1rem;
  font-family: "ClashGrotesk-Light", sans-serif;
}

.navIconBTN:hover {
  border: 1px solid var(--v-ent-red);
}

.activePage:hover,
.pageBTN:hover {
  border: 1px solid #FFFFFF;
}

.activePage {
  background-color: var(--v-ent-red);
  border: 1px solid var(--v-ent-red);
}

.navIcon {
  display: flex;
}

.navIcon path {
  fill: #ff0000;
  color: #ff0000;
}

.hidden {
  display: none;
}

.customSelectContainer {
  position: relative;
  display: inline-block;
  height: 25px;
  display: flex;
  align-items: center;
  margin-left: -2px;
  z-index: 1;
}

.customSelect {
  border: 1px solid #303136;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  appearance: none;
  padding: 0px 30px 0px 10px;
  color: #FFF;
  font-size: 0.8rem;
  height: 24px;
  outline: none;
}

.customSelect:focus-within,
.customSelect:focus,
.customSelect:active {
  border: 1px solid #303136;
  outline: none;
}

.customSelect option {
  background-color: #303136;
}

.rowCountSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #303136;
  border-radius: 5px;
}

.rowCountSelector label {
  font-size: 0.8rem;
  z-index: 2;
  padding-left: 0.6rem;
  display: flex;
  align-items: center;
}

.dropDownIcon {
  position: absolute;
  pointer-events: none;
  right: 10px;
  font-size: 0.85rem;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (min-width: 400px) {
  .paginationContainer {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 550px) {
  .tournamentsEventsFilterSearchContainer {
    width: 100%;
    flex-direction: row;
  }
  .tournamentsEventsFilterContainer {
    justify-content: space-between;
    width: calc(100% - 250px);
  }
  .searchContainer {
    width: 250px;
    min-height: 30px;
  }
  .searchBar {
    width: 70%;
  }
}
@media only screen and (min-width: 650px) {
  .tournamentsEventsFilterContainer {
    width: calc(100% - 300px);
  }
  .searchContainer {
    width: 300px;
  }
}
@media only screen and (min-width: 1115px) {
  .searchContainer {
    width: 350px;
  }
  .searchBar {
    width: 80%;
  }
}
@media only screen and (min-width: 1240px) {
  .galleryViewBTN {
    display: none;
  }
}