.editProfileDetailsContainer {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.editProfileDetailsContainer h3 {
    margin-top: 0.5rem;
    font-size: 1.125rem;
    border: 1px solid red;
}

.profilePictureBannerContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid pink;
}