.pageContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #17181A;
  overflow-x: hidden;
  padding-bottom: 3rem;
}

.mainContainer {
  width: 100%;
}

.rightPaneContainer {
  width: 100%;
  margin-top: 60px;
}

.overviewContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .rightPaneContainer {
    width: calc(100% - 180px);
    margin-left: 180px;
  }
  .overviewContainer {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  .rightPaneContainer {
    width: calc(100% - 250px);
    margin-left: 250px;
  }
  .profileDashboard {
    padding: 1.5rem;
  }
}