.pageContainer {
    width: 100%;
    min-height: 100vh;
    background-color: #17181A;
    overflow-x: hidden;
    padding-bottom: 3rem;
}

.mainContainer {
    width: 100%;
}

.rightPaneContainer {
    width: 100%;
    margin-top: 60px;
}

.buttonContainer {
    display: flex;
    margin-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.tabBTN {
    background-color: transparent;
    border: none;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: var(--fw-bold);
    position: relative;
    outline: none;
    width: 33.333%;
}

.activeTab {
    border-bottom: 2px solid var(--v-ent-red);
}

.profileDashboard {
    min-height: 200px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.overviewContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
}

@media only screen and (min-width: 768px) {
    .tabBTN {
        width: 100px;
    }
    
    .rightPaneContainer {
        width: calc(100% - 180px);
        margin-left: 180px;
    }

    .overviewContainer {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1024px) {
    .rightPaneContainer {
        width: calc(100% - 250px);
        margin-left: 250px;
    }

    .profileDashboard {
        padding: 1.5rem;
    }
}
