.createSubSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 2rem;
}

.tournamentDescriptionContainer,
.tournamentTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.tournamentDescriptionContainer {
  height: auto !important;
}

.infoParagraph {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.85rem;
  color: #B2B3BD;
}

.infoSpan {
  display: flex;
  align-items: center;
  justify-content: center;
}