.rightManageEventsContainer,
.leftManageEventsContainer {
    width: 100%;
}

.rightManageEventsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.manageEventsImageContainer {
    border: 1px solid pink;
    // height: 400px;
    min-height: 200px;
}

.manageEventsImageContainer img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.descriptionParagraph {
    text-align: center;
    border: 1px solid white;
}

// @media only screen and (min-width: 768px) {}
@media only screen and (min-width: 850px) {    
    .rightManageEventsContainer,
    .leftManageEventsContainer {
        width: 50%;
    }

    .descriptionParagraph {
        text-align: left;
    }
}
