.rightManageEventsContainer,
.leftManageEventsContainer {
  width: 100%;
}

.rightManageEventsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.manageEventsImageContainer {
  min-height: 200px;
}

.manageEventsImageContainer img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.descriptionParagraph {
  text-align: center;
}

@media only screen and (min-width: 850px) {
  .rightManageEventsContainer,
  .leftManageEventsContainer {
    width: 50%;
  }
  .descriptionParagraph {
    text-align: left;
  }
}