.rightManageEventsContainer,
.leftManageEventsContainer {
    width: 100%;
}

.leftManageEventsContainer {
    order: 2;
    margin-top: 4rem;
}

.rightManageEventsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    order: 1;
}

.manageEventsImageContainer {
    min-height: 200px;
}

.manageEventsImageContainer img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.descriptionParagraph {
    text-align: center;
}

@media only screen and (min-width: 850px) {    
    .rightManageEventsContainer,
    .leftManageEventsContainer {
        width: 50%;
    }

    .descriptionParagraph {
        text-align: left;
    }

    
    .leftManageEventsContainer {
        order: 1;
        margin-top: 0rem;
    }

    .rightManageEventsContainer {
        order: 2;
    }
}
