.boxTextContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.boxTextContainer h4 {
  font-family: "ClashGrotesk-Variable", sans-serif;
  font-weight: 400;
}

.boxTextContainer p {
  font-family: "ClashGrotesk-Variable", sans-serif;
  font-size: 0.8rem;
}

.hideLocationContainer {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
}

.hideLocationContainer label {
  font-family: "ClashGrotesk-Variable", sans-serif;
  font-size: 0.9rem;
}

.outerQuestionContainer {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.questionContainer {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 0.6rem;
  flex-direction: column;
}

.questionContainer p {
  font-family: "ClashGrotesk-Variable", sans-serif;
}

.optionContainer {
  display: flex;
  gap: 1.5rem;
}

.optionLabel {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "ClashGrotesk-Variable", sans-serif;
}

.optionInput {
  appearance: none;
  width: 17px;
  height: 17px;
  background-color: #28292D;

  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.optionInput:checked {
  background-color: #FFF;
  border: 5px solid var(--v-ent-red);
}

.eventContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media only screen and (min-width: 500px) {
  .questionContainer {
    flex-direction: row;
    align-items: center;
    margin-top: 0.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .eventContainer {
    width: calc(50% - 0.5rem);
    gap: 0.5rem;
  }
}