.comingSoon {
  font-size: 0.6rem;
  background-color: rgba(251, 198, 75, 0.24);
  padding: 3px 5px;
  border-radius: 3px;
}

.disabledLink {
  cursor: not-allowed;
  
  
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
  justify-content: flex-start;
}
