.editProfileInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.editProfilePictureBannerContainer {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #212225;
  padding: 1rem;
  border-radius: 10px;
}

.editProfilePictureBannerContainer h3 {
  margin-top: 0.5rem;
  font-size: 1.125rem;
}

.profilePictureBannerContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.saveChangesBTN {
  width: 130px;
}