:root {
  --primary-bg: #FFFFFF;
  --primary-text: #000000;
  --white: #FFFFFF;
  --black: #000000;
  --v-ent-red: #ED1C24;
  --v-ent-light-red: #ff0008;
  --overlay-gray: #212225;
  --desktop-h1-size: 3.5rem;
  --desktop-h2-size: 3rem;
  --desktop-h3-size: 2.25rem;
  --desktop-h4-size: 2rem;
  --desktop-h5-size: 1.75rem;
  --desktop-h6-size: 1.5rem;
  --mobile-h1-size: 2rem;
  --mobile-h2-size: 1.5rem;
  --mobile-h3-size: 1.25rem;
  --mobile-h4-size: 1rem;
  --mobile-h5-size: 0.875rem;
  --mobile-h6-size: 0.75rem;
  --fs-p-size-desktop: 1rem;
  --fs-p-size-sm-desktop: 0.9rem;
  --fs-p-size-mobile: 0.85rem;
  --fs-p-size-sm-mobile: 0.75rem;
  --fw-extra-bold: 800;
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 300;
  --fw-extra-light: 200;
  --fw-thin: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.btn {
  height: 37px;
  font-weight: 600;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.redBTN {
  color: var(--primary-bg);
  background-color: var(--v-ent-red);
  border: 1px solid var(--v-ent-red);
  transform: scale(1);
  transition: background-color ease-in-out 0.5s, color ease-in-out 0.5s, border ease-in-out 0.5s, transform ease-in-out 0s;
}

.redBTN:hover {
  color: var(--primary-bg);
  background-color: var(--v-ent-light-red);
  border: 1px solid var(--primary-bg);
}

.redBTN:active {
  transform: scale(1.01);
}

[data-theme="dark"] {
  --primary-bg: #000000;
  --primary-text: #FFFFFF;
}
