@import url('./clash-grotesk.css');

:root {
  --primary-bg: #FFFFFF;
  --primary-text: #000000;

  --white: #FFFFFF;
  --black: #000000;
  --green: #008000;
  --v-ent-grn: #1CED24;
  --v-ent-light-grn: #00FF08;
  --v-ent-red: #ED1C24;
  --v-ent-light-red: #FF0008;
  --overlay-gray: #212225;


  --desktop-h1-size: 3.5rem;
  --desktop-h2-size: 3rem;
  --desktop-h3-size: 2.25rem;
  --desktop-h4-size: 2rem;
  --desktop-h5-size: 1.75rem;
  --desktop-h6-size: 1.5rem;

  --mobile-h1-size: 2rem;
  --mobile-h2-size: 1.5rem;
  --mobile-h3-size: 1.25rem;
  --mobile-h4-size: 1rem;
  --mobile-h5-size: 0.875rem;
  --mobile-h6-size: 0.75rem;

  --fs-p-size-desktop: 1rem;
  --fs-p-size-sm-desktop: 0.9rem;

  --fs-p-size-mobile: 0.85rem;
  --fs-p-size-sm-mobile: 0.75rem;

  --fw-extra-bold: 800;
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 300;
  --fw-extra-light: 200;
  --fw-thin: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ClashGrotesk-Regular', sans-serif;
  color: var(--primary-bg);
}

a {
  text-decoration: none;
}


.grnBTN {
  color: var(--primary-bg);
  background-color: var(--v-ent-grn);
  border: 1px solid var(--v-ent-grn);
  transform: scale(1);
  transition: background-color ease-in-out 0.5s, color ease-in-out 0.5s, border ease-in-out 0.5s, transform ease-in-out 0s;
  cursor: pointer;
}

.grnBTN:hover {
  color: var(--primary-bg);
  background-color: var(--v-ent-light-grn);
  border: 1px solid var(--primary-bg);
}

.grnBTN:active {
  transform: scale(1.01);
}

.btn {
  height: 37px;
  font-weight: 600;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.redBTN {
  color: var(--primary-bg);
  background-color: var(--v-ent-red);
  border: 1px solid var(--v-ent-red);
  transform: scale(1);
  transition: background-color ease-in-out 0.5s, color ease-in-out 0.5s, border ease-in-out 0.5s, transform ease-in-out 0s;
  cursor: pointer;
}

.redBTN:hover {
  color: var(--primary-bg);
  background-color: var(--v-ent-light-red);
  border: 1px solid var(--primary-bg);
}

.redBTN:active {
  transform: scale(1.01);
}


select {
  border: 1px solid var(--overlay-gray);
  height: 40px;
  color: var(--primary-bg);
  background-color: #303136 !important;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  transition: ease-in-out 0.5s all;
}

select:focus,
select:active {
    border: 1px solid var(--primary-bg);
    color: var(--primary-bg);
}

[data-theme="dark"] {
  --primary-bg: #000000;
  --primary-text: #FFFFFF;  
}

.ql-toolbar {
  padding: 5px;
  border-radius: 0 !important;
}

.ql-editor {
  min-height: 270px;
  max-height: 450px;
  font-size: 0.85rem;
  line-height: 1.25;
  background-color: #303136;
  background-color: #393A40;
}

.ql-toolbar .ql-stroke,
.ql-toolbar .ql-fill {
  stroke: #FFF !important;
}

.ql-snow .ql-picker-options {
  background-color: #303136 !important;
}

.ql-toolbar .ql-picker .ql-picker-item {
  background-color: #303136 !important;
  width: 100% !important;
}

.ql-toolbar .ql-picker .ql-picker-item:hover {
  color: #808080 !important;
  width: 100% !important;
}

.ql-toolbar .ql-picker.ql-align .ql-picker-item:hover {
  background-color: #000 !important;
  width: 100% !important; 
}



input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  background-color: #eaeaea;
  padding: 3px;
  cursor: pointer;
  transition: background-color ease-in-out 0.5s;
}



@media only screen and (min-width: 450px) {
  .ql-editor {
    min-height: 350px;
    max-height: 550px;
    font-size: 0.9rem;
    line-height: 1.35;
  }  
}

@media only screen and (min-width: 768px) {
  .ql-editor {
    font-size: 1rem;
    line-height: 1.5;
  }
  
}
