:root {
  --primary-bg: #FFFFFF;
  --primary-text: #000000;
  --white: #FFFFFF;
  --black: #000000;
  --v-ent-red: #ED1C24;
  --v-ent-light-red: #ff0008;
  --overlay-gray: #212225;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.btn {
  height: 37px;
  font-weight: 600;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.redBTN {
  color: var(--primary-bg);
  background-color: var(--v-ent-red);
  border: 1px solid var(--v-ent-red);
  transform: scale(1);
  transition: background-color ease-in-out 0.5s, color ease-in-out 0.5s, border ease-in-out 0.5s, transform ease-in-out 0s;
}

.redBTN:hover {
  color: var(--primary-bg);
  background-color: var(--v-ent-light-red);
  border: 1px solid var(--primary-bg);
}

.redBTN:active {
  transform: scale(1.01);
}

[data-theme="dark"] {
  --primary-bg: #000000;
  --primary-text: #FFFFFF;
}
