.pageContainer {
  width: 100%;
  background-color: var(--primary-text);
  min-height: 100vh;
  color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
} 

.pageHeader {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageHeader h1 {
  color: var(--v-ent-red);
}

.formContainer {
  padding: 2rem 1rem;
  background-color: var(--overlay-gray);
  min-height: 10vh;
  width: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.formHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formHeaderH3 {
  margin-bottom: 0.75rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formHeader p {
  font-weight: 100;
  font-size: 0.9rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.generalForm {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  padding: 0.75rem;
}

.pinForm {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.pinInputStyle {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
  background-color: #1a1b1f;
  border-radius: 5px;
  color: black;
}

.resetForm {
  margin-top: 1.5rem;
  text-align: center;
}

.passwordContainer {
  width: 100%;
  position: relative;
}

.passwordContainer input {
  width: 100%;
  position: relative;
  padding-right: 40px;
}

.togglePassword {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
}

.authLogo {
  height: 30px;
  cursor: pointer;
  width: 30px;
  border-radius: 50%;
}

.inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.inputGroup label {
  font-size: 0.85rem;
  font-weight: 500;
}

.inputGroup input {
  font-size: 0.85rem;
  padding: 0.75rem;
  border-radius: 5px;
  background-color: #303136;

  outline: none;
  color: var(--primary-bg);
  transition: ease-in-out 0.5s all;
}

.inputGroup input:focus,
.inputGroup input:active {
  outline: none;
}

.inputGroup input::placeholder {
  color: rgba(255, 255, 255, 0.672);
  font-weight: 100;
}

.formBTN {
  width: 100%;
}

.formHelperContainer {
  display: flex;
  font-size: 0.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.formHelperContainer p {
  font-weight: 300;
  color: var(--primary-bg);
}

.formHelperContainer a {
  color: var(--primary-bg);
  font-weight: var(--fw-bold);
}

.alternativeAuthContainer {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.25rem;
}

.alternativeAuthContainer p {
  font-size: 0.8rem;
  font-weight: 300;
}

.logoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.errorMessageContainer {
  width: 100%;
  float: right;
  display: flex;
  justify-content: flex-end;
}

.errorMessage {
  color: rgb(255, 179, 179);
  font-size: 0.85rem;
}

@media only screen and (min-width: 600px) {
  .formContainer {
    width: 450px;
    padding: 3rem 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .pageHeader {
    height: 100px;
  }
  .mainContainer {
    min-height: calc(100vh - 200px);
  }
  .formContainer {
    width: 570px;
    padding: 3rem 3.5rem;
  }
}