.profileHeader {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #17181A;
    top: 0;
    z-index: 100;
}

.breadcrumbContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.breadcrumbTitle {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.6rem;
}

.currentSection,
.backArrowIcon {
    font-size: 1.2rem;
}

.backArrow {
    display: flex;
    height: 100%;
    align-items: center;
    font-weight: var(--fw-bold);
    gap: 2rem;
    padding-left: 0.4rem;
    cursor: pointer;
}

.backArrowIcon {
    font-weight: 700;
}

.breadcrumbNav {
    font-size: 0.6rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-weight: var(--fw-medium);
    align-items: center;
    gap: 0rem;
}

.arrowRightIcon {
    font-size: 0.7rem;
}

.currentSectionLink {
    color: var(--v-ent-red);
}

.headerContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5rem;
    padding-left: 2rem;
}

.searchBar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    transition: all ease-in-out 0.5s;
    background-color: #303136;
    border: 1px solid #303136;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 10;
}

.showSearchBar {
    display: flex;
}

.searchIconMobileContainer {
    display: flex;
    z-index: 20;
    transition: transform 0.5s ease-in-out;
}

.moveRight {
    left: calc(5% + 0.5rem);
    position: absolute;
}

.searchIconMobile {
    font-size: 1.125rem;
    cursor: pointer;
}

.searchBar:focus-within {
    border: 1px solid var(--primary-bg);
}

.searchBar:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.searchIcon {
    font-size: 1.2rem;
    color: #888;
    position: absolute;
    right: 0.5rem;
    cursor: pointer;
}

.searchInput {
    border: none;
    outline: none;
    width: 50px;
    padding: 0px 2rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    transition:  width 0.5s ease-in-out, border 0.5s ease-in-out;
    margin-right: 5px;
    background-color: transparent;
    font-size: 1rem;
    width: 80vw;
}

.searchInput::placeholder {
    font-family: 'ClashGrotesk-Extralight', sans-serif;
    color: white;
    font-size: 0.85rem;
}

.userDetails {
    display: flex;
    align-items: center;
}

.userInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 0.4rem;
}

.userName {
    font-size: 0.85rem;
    font-weight: var(--fw-bold);
}

.userUsername {
    font-size: 0.65rem;
}

.userAvatar {
    width: 50px;
    height: 35px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.userAvatar img {
    width: 30px;
    height: 30px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}

.profileImage {
    cursor: pointer;
}

.dropdownArrow {
    position: absolute;
    right: -2.5px;
    bottom: -2.5px;
    cursor: pointer;
}

.dropdownMenu {
    background-color: #303136;
    width: 170px;
    min-height: 40px;
    position: absolute;
    top: 55px;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding: 0.6rem;
}

.logoutBTN,
.viewProfile {
    font-size: 0.85rem;
    cursor: pointer;
    padding: 4px 12px;
    border-radius: 4px;
    transition: border 0.5s ease-in-out;
}

.viewProfile {
    border: 1px solid var(--v-ent-red);
    margin-top: 0.5rem;
}

.logoutBTN {
    outline: none;
    border: 1px solid var(--v-ent-red);
    width: 80px;
    margin-bottom: 0.6rem;
    background-color: var(--v-ent-red);
    color: #FFF;
}

.viewProfile:hover {
    border: 1px solid #FFF;
}

.logoutBTN:hover {
    border: 1px solid #FFF;
}

@media only screen and (min-width: 300px) {
    .moveRight {
        left: calc(7% + 0.5rem);
    }
}

@media only screen and (min-width: 400px) {
    .moveRight {
        left: 2.5rem;
    }
}

@media only screen and (min-width: 450px) {
    .searchIconMobileContainer {
        margin-left: 5%;
    }

    .moveRight {
        left: 1.3rem;
    }
}

@media only screen and (min-width: 500px) {
    .moveRight {
        left: 1.5rem;
    }
}


@media only screen and (min-width: 550px) {
    .searchBar {
        width: 190px;
        display: flex;
    }

    .searchIconMobileContainer {
        display: none;
    }

    .searchInput {
        padding-right: 1rem;
        padding-left: 0rem;
        width: 150px;
    }

    .searchBar:focus-within {
        width: 280px;
    }
    
    .searchInput:focus {
        width: 250px;
    }

    .moveRight {
        left: 1.5rem;
    }
}

@media only screen and (min-width: 650px) {
    .searchBar {
        width: 240px;
    }

    .searchInput {
        width: 200px;
    }

    .searchBar:focus-within {
        width: 380px;
    }
    
    .searchInput:focus {
        width: 350px;
    }
}

@media only screen and (min-width: 768px) {
    .profileHeader {
        margin-left: 180px;
        width: calc(100% - 180px);
    }

    .userAvatar {
        width: 60px;
        height: 35px;
    }    

    .userAvatar img {
        width: 35px;
        height: 35px;
    }
    
    .dropdownMenu {
        width: 200px;
        gap: 1rem;
    }
    
    .logoutBTN,
    .viewProfile {
        font-size: 0.95rem;
        padding: 5px 15px;
        border-radius: 6px;
    }

    .logoutBTN {
        width: 110px;
    }    
}

@media only screen and (min-width: 1024px) {
    .profileHeader {
        margin-left: 250px;
        width: calc(100% - 250px);
    }

    .searchBar {
        width: 280px;
    }

    .searchInput {
        width: 240px;
    }
}