.profileHeader {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #17181A;
  top: 0;
  z-index: 100;
}

.breadcrumbContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.breadcrumbTitle {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.6rem;
}

.currentSection,
.backArrowIcon {
  font-size: 1.2rem;
}

.backArrow {
  display: flex;
  height: 100%;
  align-items: center;
  font-weight: var(--fw-bold);
  gap: 2rem;
  padding-left: 0.4rem;
}

.backArrowIcon {
  font-weight: 700;
}

.breadcrumbNav {
  font-size: 0.6rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-weight: var(--fw-medium);
  align-items: center;
  gap: 0rem;
}

.arrowRightIcon {
  font-size: 0.7rem;
}

.currentSectionLink {
  color: var(--v-ent-red);
}

.headerContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5rem;
  padding-left: 2rem;
}

.searchBar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  transition: all ease-in-out 0.5s;
  background-color: #303136;
  border: 1px solid #303136;
  left: 50%;
  transform: translateX(-50%);
}

.searchBar:focus-within {
  border: 1px solid var(--primary-bg);
}

.searchBar:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.searchIcon {
  font-size: 1.2rem;
  color: #888;
  margin-right: 0px;
  margin-left: 0.2rem;
}

.searchInput {
  border: none;
  outline: none;
  width: 50px;
  padding: 0px 10px;
  transition: width 0.5s ease-in-out, border 0.5s ease-in-out;
  margin-right: 5px;
  background-color: transparent;
  font-size: 1rem;
}

.searchInput:focus {
  width: 80vw;
}

.searchInput::placeholder {
  font-family: 'ClashGrotesk-Extralight', sans-serif;
  color: white;
  font-size: 0.85rem;
}

.userDetails {
  display: flex;
}

.userInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 0.4rem;
}

.userName {
  font-size: 0.85rem;
  font-weight: var(--fw-bold);
}

.userUsername {
  font-size: 0.65rem;
}

.userAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userAvatar img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 50%;
}

@media only screen and (min-width: 550px) {
  .searchBar {
    width: 190px;
  }
  .searchInput {
    width: 150px;
  }
  .searchBar:focus-within {
    width: 280px;
  }
  .searchInput:focus {
    width: 250px;
  }
}

@media only screen and (min-width: 650px) {
  .searchBar {
    width: 280px;
  }
  .searchInput {
    width: 240px;
  }
  .searchBar:focus-within {
    width: 380px;
  }
  .searchInput:focus {
    width: 350px;
  }
}

@media only screen and (min-width: 768px) {
  .profileHeader {
    margin-left: 180px;
    width: calc(100% - 180px);
  }
}

@media only screen and (min-width: 1024px) {
  .profileHeader {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
}
