.gridHeader > :nth-child(2),
.gridHeader > :nth-child(3),
.gridHeader > :nth-child(4),
.gridHeader > :nth-child(5),
.gridHeader > :nth-child(6),
.gridHeader > :nth-child(7),
.gridRow > :nth-child(2),
.gridRow > :nth-child(3),
.gridRow > :nth-child(4),
.gridRow > :nth-child(5),
.gridRow > :nth-child(6),
.gridRow > :nth-child(7) {
    display: none;
}

.gridHeaderExpanded,
.gridRowExpanded {
    display: grid;
    grid-template-columns:
        minmax(200px, 200px)
        minmax(110px, 110px)
        minmax(100px, 100px)
        minmax(150px, 150px)
        minmax(110px, 110px)
        minmax(110px, 110px)
        minmax(110px, 110px)
        minmax(160px, 160px);
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    width: 100%;
    width: max-content;
}


@media only screen and (min-width: 450px) {
    .gridHeader,
    .gridRow {
        grid-template-columns:
            minmax(150px, 1.5fr)    
            minmax(120px, 1.2fr)
            minmax(100px, 110px);
    }

    .gridHeader > :nth-child(3),
    .gridHeader > :nth-child(4),
    .gridHeader > :nth-child(5),
    .gridHeader > :nth-child(6),
    .gridHeader > :nth-child(7),
    .gridRow > :nth-child(3),
    .gridRow > :nth-child(4),
    .gridRow > :nth-child(5),
    .gridRow > :nth-child(6),
    .gridRow > :nth-child(7) {
        display: none;
    }
    
    .gridHeader > :nth-child(2) {
        display: grid;
    }

    .gridRow > :nth-child(2) {
        display: flex;
        gap: 0.25rem;
        flex-direction: row;   
    } 
}

@media only screen and (min-width: 550px) {
    .gridHeader,
    .gridRow {
        grid-template-columns:
            minmax(150px, 1.5fr)    
            minmax(120px, 1.2fr)
            minmax(90px, 100px)
            minmax(160px, 160px);
    }

    .gridHeader > :nth-child(4),
    .gridHeader > :nth-child(5),
    .gridHeader > :nth-child(6),
    .gridHeader > :nth-child(7),
    .gridRow > :nth-child(4),
    .gridRow > :nth-child(5),
    .gridRow > :nth-child(6),
    .gridRow > :nth-child(7) {
        display: none;
    }

     .gridHeader > :nth-child(3),
     .gridRow > :nth-child(3) {
         display: grid;
     }
}

@media only screen and (min-width: 850px) {
    .gridHeader,
    .gridRow {
        grid-template-columns:
            minmax(140px, 1.5fr)    
            minmax(90px, 100px)
            minmax(80px, 80px)
            minmax(100px, 1.25fr)
            minmax(160px, 160px);
    }

    .gridHeader > :nth-child(5),
    .gridHeader > :nth-child(6),
    .gridHeader > :nth-child(7),
    .gridRow > :nth-child(5),
    .gridRow > :nth-child(6),
    .gridRow > :nth-child(7) {
        display: none;
    }

    .gridHeader > :nth-child(4),
    .gridRow > :nth-child(4) {
         display: grid;
     } 
}

@media only screen and (min-width: 950px) {
    .gridHeader,
    .gridRow {
        grid-template-columns:
            minmax(140px, 1.5fr)    
            minmax(90px, 1.15fr)
            minmax(90px, 100px)
            minmax(100px, 1.25fr)
            minmax(90px, 1fr)
            minmax(160px, 160px);
    }

    .gridHeader > :nth-child(6),
    .gridHeader > :nth-child(7),
    .gridRow > :nth-child(6),
    .gridRow > :nth-child(7) {
        display: none;
    }

    .gridHeader > :nth-child(5),
    .gridRow > :nth-child(5) {
         display: grid;
     }
}

@media only screen and (min-width: 1115px) {
    .gridHeader,
    .gridRow {
        grid-template-columns:
            minmax(140px, 1.5fr)    
            minmax(90px, 1.15fr)
            minmax(90px, 100px)
            minmax(100px, 1.25fr)
            minmax(90px, 1fr)
            minmax(50px, 90px)
            minmax(160px, 160px);
    }

    .gridHeader > :nth-child(7),
    .gridRow > :nth-child(7) {
        display: none;
    }

    .gridHeader > :nth-child(6),
    .gridRow > :nth-child(6) {
         display: grid;
     }
}

@media only screen and (min-width: 1240px) {
    .gridHeader,
    .gridRow {
        grid-template-columns:
            minmax(180px, 1.5fr)    
            minmax(90px, 1.15fr)
            minmax(50px, 1fr)
            minmax(150px, 1.25fr)
            minmax(90px, 1fr)
            minmax(50px, 1fr)
            minmax(50px, 1fr)
            minmax(160px, 160px);
    }

    .gridHeader > :nth-child(7),
    .gridRow > :nth-child(7) {
        display: grid;
    }
}