.pageContainer {
  width: 100%;
  background-color: var(--primary-text);
  min-height: 100vh;
  color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.pageHeader {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageHeader h1 {
  color: var(--v-ent-red);
  font-size: 2rem;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);
  width: 100%;
}

.formContainer {
  padding: 2rem 1rem;
  background-color: var(--overlay-gray);
  min-height: 50vh;
  width: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formHeader h2 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.formHeader p {
  font-weight: 100;
  font-size: 0.9rem;
}

.signUpForm {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  align-items: flex-end;
  padding: 0.25rem;
}

.inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.inputGroup label {
  font-size: 0.85rem;
  font-weight: 500;
}

.inputGroup input {
  font-size: 0.85rem;
  padding-left: 0.75rem;
  padding: 0.75rem;
  border-radius: 5px;
  background-color: #303136;
  border: 1px solid #303136;
  outline: none;
  color: var(--primary-bg);
  transition: ease-in-out 0.5s all;
}

.inputGroup input:focus,
.inputGroup input:active {
  border: 1px solid var(--primary-bg);
}

.inputGroup input::placeholder {
  color: rgba(255, 255, 255, 0.672);
  font-weight: 100;
}

.toolTip {
  font-size: 0.75rem;
  font-weight: 200;
}

.passwordContainer {
  width: 100%;
  position: relative;
}

.passwordContainer input {
  width: 100%;
  position: relative;
  padding-right: 40px;
}

.togglePassword {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
}

.loginBTN {
  width: 100%;
}

.termsAndPrivacy {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  flex-wrap: wrap;
  color: var(--primary-bg);
  font-weight: 200;
  line-height: 1.5;
  justify-content: center;
  width: 100%;
}

.termsAndPrivacy a {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--primary-bg);
  display: inline-flex;
  align-items: center;
  font-weight: 500;
}

.alternativeSignUpContainer {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.25rem;
}

.alternativeSignUpContainer p {
  font-size: 0.8rem;
  font-weight: 300;
}

.logoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.signUpLogo {
  height: 30px;
  cursor: pointer;
  width: 30px;
  border-radius: 50%;
}

.alreadyHaveAccount {
  display: flex;
  font-size: 0.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.alreadyHaveAccount p {
  font-weight: 300;
  color: var(--primary-bg);
}

.alreadyHaveAccount a {
  text-decoration: none;
  color: var(--primary-bg);
  font-weight: 500;
}

@media only screen and (min-width: 600px) {
  .pageHeader h1 {
    font-size: 3rem;
  }
  .formContainer {
    width: 450px;
    width: 500px;
    padding: 3rem 1.5rem;
    padding: 3rem 2rem;
  }
  .formHeader h2 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .pageHeader {
    height: 100px;
  }
  .mainContainer {
    min-height: calc(100vh - 200px);
  }
  .formContainer {
    width: 650px;
    padding: 3rem 3.5rem;
  }
}
