.activityContainer {
  min-height: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  position: relative;
}

.historyBTN {
  background-color: #212225;
  outline: none;
  border: none;
  padding: 6.5px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.tabContainer {
  display: flex;
  gap: 0.45rem;
}

.activeTab {
  background-color: #303136;
}

.showingNumber {
  font-size: 0.85rem;
}

.tournamentFilterSearchContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tournamentFilterContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tournamentFilterContainer p {
  font-size: 1rem;
  font-family: "ClashGrotesk-Variable", sans-serif;
}

.filterContainer {
  position: relative;
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  padding: 0.4rem 1.5rem;
}

.searchContainer {
  position: relative;
  width: 100%;
  min-height: 50px;
}

.searchBar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  transition: all ease-in-out 0.5s;
  background-color: #303136;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.searchBar:focus-within {
  outline: none;
  width: 95%;
}

.searchBar:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.searchIcon {
  font-size: 1rem;
  color: #888;
  margin-right: 0.2rem;
  margin-left: 0;
}

.searchInput {
  border: none;
  outline: none;
  transition: width 0.5s ease-in-out, border 0.5s ease-in-out;
  margin-right: 5px;
  margin-left: 2.5px;
  background-color: transparent;
  font-size: 0.85rem;
  width: 100%;
}

.searchInput::placeholder {
  font-family: "ClashGrotesk-Variable", sans-serif;
  color: white;
  font-size: 0.85rem;
}

.tournamentsTable {
  min-height: 40px;
  width: 100%;
  overflow-x: auto;
}

.gridHeader,
.gridRow {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(70px, 90px);

}

.gridRow:last-child {
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.gridHeader > :nth-child(2),
.gridHeader > :nth-child(3),
.gridHeader > :nth-child(4),
.gridHeader > :nth-child(5),
.gridHeader > :nth-child(6),
.gridHeader > :nth-child(7),
.gridRow > :nth-child(2),
.gridRow > :nth-child(3),
.gridRow > :nth-child(4),
.gridRow > :nth-child(5),
.gridRow > :nth-child(6),
.gridRow > :nth-child(7) {
  display: none;
}

.gridItem {
  font-family: "ClashGrotesk-Variable", sans-serif;
  font-size: 0.8rem;
}

.gridItem {
  display: flex;
  align-items: center;
  padding: 10px;
}

.gridItemHeader {
  font-family: "ClashGrotesk-Variable", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
}

.gridHeader {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.nameColumn {
  display: flex;
  justify-content: flex-start;
  gap: 0.4rem;
}

.gameImageContainer {
  width: 35px;
  height: 40px;
  border-radius: 5px;
}

.gameImage {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.inProgress,
.completedStatus {
  padding: 5px 10px;
  border-radius: 3px;
  width: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.completedStatus {
  background-color: #064206;
  color: #d3d3d3;
}

.inProgress {
  background-color: #969607;
  color: #FFFFFF;
}

.exploreBTN {
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  background-color: rgba(255, 255, 255, 0.04);
}

.exploreBTN:hover {
  background-color: #212225;

}

.tournamentDetailsContainer {
  min-width: 250px;
  width: 90%;
  max-width: 95%;
  min-height: 10vh;
  position: absolute;
  z-index: 2;
  background-color: #212225;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  gap: 1rem;

}

.tournamentDetailsH3 {
  margin-top: 0.5rem;
  font-size: 1rem;
  text-align: center;
  font-family: "ClashGrotesk-Variable", sans-serif;
}

.tournamentDetails {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.contents {
  min-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.tournamentRecord {
  display: flex;
  min-width: 180px;
}

.tournamentRecord p {
  display: flex;
  min-width: 100px;
  font-size: 0.8rem;
  justify-content: flex-start;
}

.tournamentRecord label {
  display: flex;
  min-width: 120px;
  font-family: "ClashGrotesk-Variable", sans-serif;
  font-size: 0.8rem;
  justify-content: flex-start;
}

.closeBTN {
  position: absolute;
  top: 0.15rem;
  right: 0.15rem;
  background-color: #212225;
  color: white;
  border: none;
  outline: none;
  padding: 5px;
  transition: all ease-in-out 0.5s;
}

.closeBTN:hover {
  background-color: red;
}

.closeIcon {
  display: flex;
  font-size: 0.9rem;
  cursor: pointer;
}

.closeIcon path {
  color: rgba(255, 255, 255, 0.7);
  fill: rgba(255, 255, 255, 0.7);
  transition: all ease-in-out 0.5s;
}

.closeIcon:hover path {
  color: #FFFFFF;
  fill: #FFFFFF;
}

.tournamentDetails {
  display: flex;
  justify-content: center;
}

.paginationContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.55rem;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navIconBTN,
.navBTN,
.pageBTN {
  background-color: #131316;
  outline: none;

  width: 28px;
  height: 30px;
  padding: 5px 9px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 6px;
  transition: all ease-in-out 0.5s;
  font-family: "ClashGrotesk-Variable", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navIconBTN {
  background-color: #303136;

  width: 30px;
  padding: 0;
  font-size: 1rem;
  font-family: "ClashGrotesk-Variable", sans-serif;
}

.navIconBTN:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

.activePage:hover,
.pageBTN:hover {
  background-color: rgba(237, 28, 36, 0.14);
}

.activePage {
  background-color: var(--v-ent-red);

}

.navIcon {
  display: flex;
}

.navIcon path {
  fill: red;
  color: red;
}

.hidden {
  display: none;
}

.customSelectContainer {
  position: relative;
  display: inline-block;
  height: 25px;
  display: flex;
  align-items: center;
  margin-left: -2px;
  z-index: 1;
}

.customSelect {
  background-color: #1a1b1f;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  appearance: none;
  padding: 0px 30px 0px 10px;
  color: white;
  font-size: 0.8rem;
  height: 24px;
  outline: none;
}

.customSelect:focus-within,
.customSelect:focus,
.customSelect:active {
  background-color: #1a1b1f;
  outline: none;
}

.customSelect option {
  background-color: #303136;
}

.rowCountSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #303136;
  border-radius: 5px;
}

.rowCountSelector label {
  font-size: 0.8rem;
  z-index: 2;
  padding-left: 0.6rem;
  display: flex;
  align-items: center;
}

.dropDownIcon {
  position: absolute;
  pointer-events: none;
  right: 10px;
  font-size: 0.85rem;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (min-width: 400px) {
  .paginationContainer {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 450px) {
  .gridHeader,
  .gridRow {
    grid-template-columns: minmax(200px, 1.5fr) minmax(100px, 1fr) minmax(70px, 90px);
  }
  .gridHeader > :nth-child(2),
  .gridHeader > :nth-child(3),
  .gridHeader > :nth-child(5),
  .gridHeader > :nth-child(6),
  .gridHeader > :nth-child(7),
  .gridRow > :nth-child(2),
  .gridRow > :nth-child(3),
  .gridRow > :nth-child(5),
  .gridRow > :nth-child(6),
  .gridRow > :nth-child(7) {
    display: none;
  }
  .gridHeader > :nth-child(4),
  .gridRow > :nth-child(4) {
    display: grid;
  }
}
@media only screen and (min-width: 550px) {
  .tournamentFilterSearchContainer {
    width: 100%;
    flex-direction: row;
  }
  .tournamentFilterContainer {
    width: calc(100% - 250px);
  }
  .searchBar {
    width: 70%;
  }
  .searchBar:focus-within {
    width: 95%;
  }
  .searchContainer {
    width: 250px;
    min-height: 30px;
  }
}
@media only screen and (min-width: 650px) {
  .tournamentFilterContainer {
    width: calc(100% - 300px);
  }
  .searchContainer {
    width: 300px;
  }
}
@media only screen and (min-width: 650px) {
  .gridHeader,
  .gridRow {
    grid-template-columns: minmax(220px, 1fr) minmax(130px, 1fr) minmax(110px, 1fr) minmax(70px, 90px);
  }
  .gridHeader > :nth-child(2),
  .gridHeader > :nth-child(3),
  .gridHeader > :nth-child(6),
  .gridHeader > :nth-child(7),
  .gridRow > :nth-child(2),
  .gridRow > :nth-child(3),
  .gridRow > :nth-child(6),
  .gridRow > :nth-child(7) {
    display: none;
  }
  .gridHeader > :nth-child(5),
  .gridRow > :nth-child(5) {
    display: grid;
  }
}
@media only screen and (min-width: 768px) {
  .tournamentDetailsContainer {
    max-width: 95%;
    width: 95%;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
  }
  .tournamentDetailsH3 {
    font-size: 1.25rem;
  }
  .tournamentDetails {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
  }
  .contents {
    min-width: 300px;
    flex-direction: column;
    gap: 0.75em;
    align-items: flex-start;
  }
  .tournamentRecord {
    display: flex;
    min-width: 180px;
  }
  .tournamentRecord p {
    min-width: 100px;
    font-size: 0.95rem;
    justify-content: flex-start;
    text-align: left;
  }
  .tournamentRecord label {
    min-width: 150px;
    font-size: 0.95rem;
    justify-content: flex-start;
    text-align: left;
  }
}
@media only screen and (min-width: 950px) {
  .gridHeader,
  .gridRow {
    grid-template-columns: minmax(250px, 1fr) minmax(150px, 1fr) minmax(110px, 1fr) minmax(110px, 1fr) minmax(70px, 90px);
  }
  .gridHeader > :nth-child(7),
  .gridRow > :nth-child(7) {
    display: grid;
  }
}
@media only screen and (min-width: 1115px) {
  .gridHeader,
  .gridRow {
    grid-template-columns: minmax(250px, 1fr) minmax(150px, 1fr) minmax(110px, 1fr) minmax(80px, 100px) minmax(110px, 1fr) minmax(70px, 90px);
  }
  .gridHeader > :nth-child(6),
  .gridRow > :nth-child(6) {
    display: grid;
  }
}
@media only screen and (min-width: 1250px) {
  .gridHeader,
  .gridRow {
    grid-template-columns: minmax(250px, 1fr) minmax(120px, 1fr) minmax(120px, 1fr) minmax(80px, 100px) minmax(80px, 100px) minmax(110px, 1fr) minmax(70px, 90px);
  }
  .gridHeader > :nth-child(2),
  .gridRow > :nth-child(2) {
    display: grid;
  }
}
@media only screen and (min-width: 1240px) {
  .gridHeader,
  .gridRow {
    grid-template-columns: minmax(250px, 1fr) minmax(120px, 1fr) minmax(90px, 1fr) minmax(120px, 1fr) minmax(80px, 100px) minmax(70px, 100px) minmax(100px, 1fr) minmax(70px, 90px);
  }
  .gridHeader > :nth-child(3),
  .gridRow > :nth-child(3) {
    display: grid;
  }
}