.walletPenaltyContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.walletContainer,
.penaltyContainer {
  min-width: 200px;
  min-height: 50px;
  border-radius: 10px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
}

.coinNumber,
.penaltyPointNumber {
  display: flex;
  gap: 0.4rem;
}

.penaltyHeader {
  display: inline-flex;
  align-items: center;
  gap: 7.5px;
  gap: 5px;
}

.infoIconSpan {
  display: flex;
}

.infoIcon {
  font-size: 0.9rem;
  cursor: pointer;
}

.coinNumberSpan,
.penaltyPointNumberSpan {
  font-size: 1.5rem;
}

.coinSpan,
.flagSpan {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

.coinIcon {
  border-radius: 50%;
  background-color: #F7931A;
}

@media only screen and (min-width: 1100px) {
  .walletContainer,
  .penaltyContainer {
    width: calc(50% - 1rem);
    flex-grow: 0;
  }
}
