.achievementsContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    gap: 1.5rem;
}

.achievementsHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.achievementsHeaderH4 {
    display: flex;
    gap: 0.5rem;
}

.seeMoreBTN {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    cursor: pointer;
}

.rightArrowIcon {
    font-size: 0.8rem;
}

.achievementContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: flex-start;
}

.favouriteAchievementCard {
    min-height: 70px;
    gap: 0.5rem;
}

.achievementImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 125px;
}   

.achievementImage {
    width: 100%;
    height: 80px;
    object-fit: contain;
    border-radius: 10px;
}
