.createTournamentContainer {
  width: 100%;
  min-height: 30vh;
  margin-top: 60px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .createTournamentContainer {
    margin-left: 180px;
    width: calc(100% - 180px);
  }
}
@media only screen and (min-width: 1024px) {
  .createTournamentContainer {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
}