.prizeContainer {
    min-height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    position: relative;
    margin-top: 1.5rem;
}

.tournamentsPrizeTable {
    min-height: 40px;
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #212225;
    padding: 1rem;
    border-radius: 10px;    
}

.headerH3 {
    font-size: 1rem;
    font-weight: 100;
    font-family: 'ClashGrotesk-Medium', sans-serif;
}

.tournamentsPrizeInnerTable {
    min-height: 40px;
    width: 100%;
    overflow-x: visible;
    background-color: #303136;
    border-radius: 10px;
    min-width: 300px;
}

.gridRow:last-child {
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.gridHeader,
.gridRow {
    display: grid;
    grid-template-columns:
        minmax(80px, 1fr)    
        minmax(80px, 1fr)
        minmax(80px, 1fr);
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    background-color: #303136;
    padding-left: 0.5rem;
    min-width: 100%;
    box-sizing: border-box;
    overflow-x: visible;
}

.gridItem {
    font-family: 'ClashGrotesk-Light', sans-serif;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    padding: 10px;
    min-width: 100%;
}

.gridItemHeader {
    font-family: 'ClashGrotesk-Regular', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

.gridHeader {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tournamentRecord {
    display: flex;
    min-width: 180px;
}

.tournamentRecord p {
    display: flex;
    min-width: 100px;
    font-size: 0.8rem;
    justify-content: flex-start;
}

.tournamentRecord label {
    display: flex;
    min-width: 120px;
    font-family: 'ClashGrotesk-Medium', sans-serif;
    font-size: 0.8rem;
    justify-content: flex-start;
}

.dateContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    color: #B2B3BD;
}

.createdDateParagraph,
.updatedDateParagraph {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    color: #B2B3BD;
}

.createdDateParagraph span,
.updatedDateParagraph span {
    color: #B2B3BD;
}

.dotIcon {
    display: none;
}

.horizontalLine {
    height: 0.5px;
    background-color:rgba(204, 204, 204, 0.3);
}

@media only screen and (min-width: 500px) {
    .dotIcon {
        font-size: 0.75rem;
        display: inline-flex;
    }
    
    .dotIcon path {
        color: #B2B3BD;
        fill: #B2B3BD;;
    }

    .dateContainer {
        flex-direction: row;
        align-items: center;
    }   
}