.prizeContainer {
    min-height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    position: relative;
    padding: 1rem;
    border: 1px solid red;
    background-color: #212225;
}

.tournamentsEventsTable {
    min-height: 40px;
    width: 100%;
    overflow-x: auto;
}

.gridRow,
.gridHeader {
    background-color: #303136;
}



.gridHeader,
.gridRow {
    display: grid;
    grid-template-columns:
        minmax(150px, 1fr)    
        minmax(70px, 90px);
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
}

.gridRow:last-child {
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.gridHeader,
.gridRow {
    grid-template-columns:
        minmax(200px, 1.5fr)    
        minmax(100px, 1fr)
        minmax(100px, 1fr);
}


// .gridHeader > :nth-child(2),
// .gridHeader > :nth-child(3),
// .gridHeader > :nth-child(4),
// .gridHeader > :nth-child(5),
// .gridHeader > :nth-child(6),
// .gridHeader > :nth-child(7),
// .gridRow > :nth-child(2),
// .gridRow > :nth-child(3),
// .gridRow > :nth-child(4),
// .gridRow > :nth-child(5),
// .gridRow > :nth-child(6),
// .gridRow > :nth-child(7) {
//     display: none;
// }

.gridItem {
    font-family: 'ClashGrotesk-Light', sans-serif;
    font-size: 0.8rem;
}

.gridItem {
    display: flex;
    align-items: center;
    padding: 10px;
}

.gridItemHeader {
    font-family: 'ClashGrotesk-Regular', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

.gridHeader {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.tournamentDetailsContainer {
    min-width: 250px;
    width: 90%;
    max-width: 95%;
    min-height: 10vh;
    position: absolute;
    z-index: 2;
    background-color: #212225;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    gap: 1rem;
    border: 1px solid #5C5C5f;
}


.tournamentRecord {
    display: flex;
    min-width: 180px;
}

.tournamentRecord p {
    display: flex;
    min-width: 100px;
    font-size: 0.8rem;
    justify-content: flex-start;
}

.tournamentRecord label {
    display: flex;
    min-width: 120px;
    font-family: 'ClashGrotesk-Medium', sans-serif;
    font-size: 0.8rem;
    justify-content: flex-start;
}
