.buttonContainer {
  display: flex;
  margin-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  gap: 1.5rem;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.buttonContainer::-webkit-scrollbar {
  display: none;
}

.tabBTN {
  background-color: transparent;
  border: none;
  font-family: "ClashGrotesk-Medium", sans-serif;
  cursor: pointer;
  font-size: 0.8rem;
  position: relative;
  outline: none;
  width: auto;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.3rem;
}

.activeTab {
  border-bottom: 2px solid var(--v-ent-red);
}

.borderTabBTNContainer {
  display: flex;
  padding: 0.35rem;
  max-width: fit-content;
  gap: 0.5rem;
  background-color: #303136;
  min-width: 150px;
  min-height: 35px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 7.5px;
}

.borderTabBTN {
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  border: 1px solid transparent;
  background-color: #303136;
  outline: none;
  padding: 0.35rem 0.5rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.borderTabBTN.active {
  background-color: #46484F;
}

.borderTabBTN:hover {
  border: 1px solid #CCC;
}

.detailsDashboard {
  min-height: 200px;
  width: calc(100% - 3rem);
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(119, 119, 119, 0.5);
  margin: 0 auto;
  padding: 1.5rem 0;
}

@media only screen and (min-width: 768px) {
  .tabBTN {
    width: auto;
  }
}