.tabsAndDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
}

.requestsBTN {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
}

.requestNumberParagraph {
    background-color: var(--v-ent-red);
    display: flex;
    font-size: 0.6rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
}

.requestNumberSpan {
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tournamentsEventsFilterSearchContainer {
    flex-direction: column;
    gap: 0.5rem;
}

.inviteAndSearchContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.inviteNewMemberBTN {
    height: 30px;
    width: 150px;
    border-radius: 5px;
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.personIcon {
    display: flex;
    font-size: 1rem;
}

.gridHeader> :nth-child(2),
.gridHeader> :nth-child(3),
.gridHeader> :nth-child(4),
.gridHeader> :nth-child(5),
.gridRow> :nth-child(2),
.gridRow> :nth-child(3),
.gridRow> :nth-child(4),
.gridRow> :nth-child(5) {
    display: none;
}

.gridHeaderExpanded,
.gridRowExpanded {
    display: grid;
    grid-template-columns:
        minmax(200px, 200px) minmax(110px, 110px) minmax(100px, 100px) minmax(150px, 150px) minmax(110px, 110px) minmax(160px, 160px);
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    width: 100%;
    width: max-content;
}

.gridItemStatusExpanded {
    display: flex;
    padding-left: 10px;
    align-items: center;
}

.memberNamesContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.memberUsername {
    color: #B2B3BD;
    font-size: 0.8rem;
}

.statusSpan {
    padding: 4px 7px;
    border-radius: 5px;
    font-weight: 600;
    width: 95px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmedStatus {
    color: #178C4E;
    background-color: #C2F5DA;
}

.invitedStatus {
    color: #AB6400;
    background-color: #FFF7C2;
}

.teamProfileLink {
    font-style: italic;
    font-family: 'ClashGrotesk-Medium', sans-serif;
}



.requestsContainer {
    min-height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.requestBoxesContainer {
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    // padding: 1rem;
    // max-width: 1000px;
    // border: 2px solid orange;
}

.requestBox {
    min-height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
    padding: 0.75rem;
    background-color: #212225;
    border-radius: 10px;
}

.imageContainer {
    height: 70px;
    width: 70px;
    border-radius: 50%; 
}

.imageContainer img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.requestBoxUserDetailsContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.requestBoxUserDetails {
    display: flex;
    flex-direction: column;
}

.btnsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    width: auto;
    max-width: 150px;
    align-items: flex-start;
}

.acceptBTN,
.declineBTN {
    padding: 0.5rem;
    font-size: 0.85rem;
    border-radius: 4px;
    cursor: pointer;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: 'ClashGrotesk-Light', sans-serif;
    transition: all ease-in-out 0.5s;
}

.acceptBTN {
    background-color: #178C4E;
    border: 0.5px solid #178C4E;
}

.declineBTN {
    background-color: #FF0000;
    border: 0.5px solid #FF0000;
}
.acceptBTN:hover,
.declineBTN:hover {
    border: 0.5px solid #FFF;
    background-color: #303136;
}

.requestBoxUserDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.125rem;
}

.name {
    font-family: 'ClashGrotesk-Medium', sans-serif;
}

.timeAgo {
    font-size: 0.85rem;
    color: #B2B3BD;
}

.viewProfileBTN {
    border: 0.5px solid #303136;
    background-color: #303136;
    transition: all 0.5s ease-in-out;
    margin-top: 0.1rem;
}

.viewProfileBTN:hover {
    border: 0.5px solid #FFF;
}

@media only screen and (min-width: 350px) {
    .btnsContainer {
        flex-direction: column;
    }
}

@media only screen and (min-width: 450px) {
    .tournamentsEventsFilterSearchContainer {
        gap: 1rem;
    }

    .inviteAndSearchContainer {
        flex-direction: row;
        gap: 1rem;
    }

    .btnsContainer {
        flex-direction: row;
    }
}

@media only screen and (min-width: 500px) {
    .requestBox {
        padding: 1.25rem;
    }

    .btnsContainer {
        justify-content: space-between;
        height: inherit;
    }
    
    .acceptBTN,
    .declineBTN {
        font-size: 0.9rem;
    }    

    .imageContainer {
        height: 90px;
        width: 90px;
    }
}

@media only screen and (min-width: 550px) {
    .gridHeader,
    .gridRow {
        grid-template-columns:
            minmax(150px, 1.5fr) minmax(90px, 120px) minmax(100px, 1.2fr);
    }

    .gridHeader> :nth-child(2),
    .gridRow> :nth-child(2) {
        display: grid;
    }
}

@media only screen and (min-width: 600px) {
    .tournamentsEventsFilterSearchContainer {
        flex-direction: row;
    }

    .btnsContainer {
        gap: 0.75rem;
    }

    .acceptBTN,
    .declineBTN {
        font-size: 0.95rem;
    }
}

@media only screen and (min-width: 700px) {
    .gridHeader,
    .gridRow {
        grid-template-columns:
            minmax(140px, 1.5fr) minmax(90px, 120px) minmax(90px, 120px) minmax(100px, 1.2fr)
    }

    .gridHeader> :nth-child(5),
    .gridRow> :nth-child(5) {
        display: grid;
    }

}

@media only screen and (min-width: 768px) {
    .tournamentsEventsFilterSearchContainer {
        flex-direction: column;
    }    

    .btnsContainer {
        gap: 1rem;
    }        
}

@media only screen and (min-width: 800px) {
    .tournamentsEventsFilterSearchContainer {
        flex-direction: row;
    }
}

@media only screen and (min-width: 850px) {
    .requestBoxesContainer {
        flex-direction: row;
        gap: 1.25rem;
    }

    .requestBox {
        max-width: calc(50% - 1rem);
        flex-grow: 1;
    }

    .imageContainer {
        height: 70px;
        width: 70px;
    }    
}

@media only screen and (min-width: 950px) {
    .gridHeader,
    .gridRow {
        grid-template-columns:
            minmax(140px, 1.5fr) minmax(90px, 120px) minmax(90px, 120px) minmax(90px, 120px) minmax(100px, 1.2fr)
    }

    .gridHeader> :nth-child(3),
    .gridRow> :nth-child(3) {
        display: grid;
    }
}

@media only screen and (min-width: 1115px) {
    .gridHeader,
    .gridRow {
        grid-template-columns:
            minmax(140px, 1.5fr) minmax(90px, 120px) minmax(90px, 120px) minmax(100px, 1.2fr) minmax(100px, 1.2fr) minmax(100px, 1.2fr)
    }

    .gridHeader> :nth-child(4),
    .gridRow> :nth-child(4) {
        display: grid;
    }
}

@media only screen and (min-width: 1240px) {
    .gridHeader,
    .gridRow {
        grid-template-columns:
            minmax(1fr, 1fr) minmax(1fr, 1fr) minmax(1fr, 1fr) minmax(1fr, 1fr) minmax(1fr, 1fr) minmax(1fr, 1fr)
    }
}