.editProfileDetailsContainer {
    width: 100%;
    min-height: 200px;
    // border: 1px solid red;
    background-color: #212225;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1.5rem;
}

.editProfileDetailsContainer h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
}

.profileDetailsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.inputGroup {
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inputGroup textarea,
.inputGroup input {
    background-color: #46484F;
    border: 1px solid #95959A;
    outline: none;
    font-size: 0.9rem;
    padding: 0.5rem 0.75rem;
    border-radius: 7.5px;
    transition: all ease-in-out 0.5s;
}

.inputGroup textarea {
    height: 150px;
    padding: 0.75rem;
    resize: none;
    line-height: 1.4;
}

.bioMaxCharacter {
    font-size: 0.8rem;
}

.inputGroup label {
    font-family: 'ClashGrotesk-Medium', sans-serif;
    font-size: 0.9rem;
}

.inputGroup textarea:focus,
.inputGroup textarea:active,
.inputGroup input:focus,
.inputGroup input:active {
    border: 1px solid white;
}

.inputGroup input::placeholder {
    color: #EEEEF0;
}
