.desktopSidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  background-color: #212225;
  background-color: #17181A;
  background-color: #131316;
  top: 0;
  display: flex;
  flex-direction: column;
}

.logoContainer {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
}

.logoContainer h1 {
  font-family: 'ClashGrotesk-Semibold', sans-serif;
  margin-left: 1rem;
  font-weight: var(--fw-bold);
  font-size: 2.5rem;
  color: var(--v-ent-red);
}

.sidebarNav {
  margin-top: 1.5rem;
}

.sidebarList li {
  padding-left: 20px;
}

.sidebarItem {
  display: flex;
  min-height: 20px;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.iconLink {
  display: flex;
  height: 100%;
  align-items: center;
}

.sidebarItem a {
  font-family: 'ClashGrotesk-Light', sans-serif;
}

.sidebarIcon {
  font-size: 0.9rem;
}

.comingSoon {
  font-size: 0.6rem;
  background-color: rgba(251, 198, 75, 0.24);
  padding: 3px 5px;
  border-radius: 3px;
}
